
body .artDialog-skin-ot2 {
  border: 0;
  border-radius: 0;
}
body .artDialog-skin-ot2 .ui-dialog-header {
  border: 0;
  position: relative;
}
body .artDialog-skin-ot2 .ui-dialog-title {
  height: 40px;
  line-height: 40px;
  background: #3db06e;
  padding: 0;
  color: #fff;
  padding-left: 20px;
  font-weight: normal;
  cursor: move;
}
body .artDialog-skin-ot2 a.ui-dialog-close {
  position: absolute;
  opacity: 1;
  filter: alpha(opacity=100);
  text-indent: -999px;
  overflow: hidden;
  background-color: #3db06e;
  display: block;
  width: 40px;
  height: 40px;
  right: 0;
  top: 0;
  padding: 0;
}
body .artDialog-skin-ot2 a.ui-dialog-close span {
  display: block;
  margin: 10px 10px 0 10px;
  width: 20px;
  height: 20px;
  background: url(close.png) no-repeat center center;
}
body .artDialog-skin-ot2 a.ui-dialog-close:hover {
  background-color: #208d4e;
}
body .artDialog-skin-ot2 .ui-dialog-footer button {
  border: 0;
  background-color: #dfdfdf;
  outline: none;
}
body .artDialog-skin-ot2 .ui-dialog-footer button + button {
  /*background-color: #3db06e;*/
}
body .artDialog-skin-ot2 .ui-dialog-footer button.ui-dialog-autofocus:focus,
body .artDialog-skin-ot2 .ui-dialog-footer button.ui-dialog-autofocus {
  background-color: #3db06e;
}
body .artDialog-skin-ot2 .ui-dialog-footer button.ui-dialog-autofocus:hover,

body .artDialog-skin-ot2 .ui-dialog-footer button.ui-dialog-autofocus:active {
  background-color: #229955;
}
body .artDialog-skin-ot2 .ui-dialog-footer button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
body .artDialog-skin-ot2 .ui-dialog-footer button:hover,
body .artDialog-skin-ot2 .ui-dialog-footer button:focus,
body .artDialog-skin-ot2 .ui-dialog-footer button:active {
  background-color: #b9b9b9;
}
body .artDialog-skin-ot2 .ui-dialog-button {
  float: none;
  text-align: center;
}
body .artDialog-skin-ot2 .ui-dialog-content {
  min-height: 100px;
}
